<div class="page-header">
  <%= link_to new_home_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Home
  <% end %>
  <h1><span class="posts">Tiny Estates</span></h1>
</div>

<%= paginate @homes %>

<ul class="homes-list-group">
  <%= render @homes %>
</ul>

<%= paginate @homes %>
