<div class="container page-header">
  <h2 Listing>Search Result</h2>
</div>
<div class=>
  <ul class=>
    <% if @homes.empty? %>
      <h2>Sorry, no matching tiny homes were found.</h2>
    <% else %>

        <ul class="list-group homes-list-group">
          <%= render @homes %>

        </ul>
  <% end %>
