<div class="container page-header">
  <h2 Listing>Search Result</h2>
</div>
<div class=>
  <ul class=>
    <% if @homes_search.empty? %>
      <h2>Sorry, no matching tiny homes were found.</h2>
    <% else %>

      <%- @homes_search.each do |home| %>
        <ul class="list-group homes-list-group">
          <%= render home %>
          <% end %>
        </ul>
  <% end %>
