<h1>Welcome to | Tiny Estates |</h1>

<p>
  Thank you for signing up to | Tiny Estates |. You can see the latest Tiny Homes
  <%= link_to "for sale", homes_url %>
</p>

<p>
  Have a Tiny Home you want to sell, <%= link_to "list it on | Tiny Estates |", new_home_url %>
</p>
