<h1>Welcome to | Tiny Estates |</h1>

<p>Thank you for signing up to | Tiny Estates |.</p>
<p>You can see the latest Tiny Homes for sale by clicking <%= link_to "here.", homes_url %></p>
<p>Have a Tiny Home you want to sell? List it on | Tiny Estates | by clicking <%= link_to "here.", new_home_url %> </p>
